!!!
%html
  %head
    %script{:src => "https://pagead2.googlesyndication.com/pagead/osd.js"}
    %script{:src => "https://cdn.ampproject.org/rtv/011535566825959/amp4ads-host-v0.js"}
    %script{:src => "https://securepubads.g.doubleclick.net/gpt/pubads_impl_rendering_243.js"}
    %script{:async => "", :src => "https://www.google-analytics.com/analytics.js", :type => "text/javascript"}
    %script{:async => "", :src => "https://www.googleadservices.com/pagead/conversion_async.js", :type => "text/javascript"}
    %script{:async => "", :src => "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js", :type => "text/javascript"}
    %script{:async => "", :src => "https://b92.yahoo.co.jp/search/?p=6B63B2EQA6&label=qiita&ref=https%3A%2F%2Fqiita.com%2F&rref=https%3A%2F%2Fqiita.com%2F&pt=&item=&cat=&price=&quantity=&r=1535791090.9818926&pvid=kjv5vq1avicjlj6d1y3&req=1"}
    %meta{:charset => "utf-8"}/
    %title Qiita
    %meta{:content => "width=device-width,initial-scale=1,shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "#55c500", :name => "theme-color"}/
    %meta{:content => "XWpkTG32-_C4joZoJ_UsmDUi-zaH-hcrjF6ZC_FoFbk", :name => "google-site-verification"}/
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %link{:href => "/opensearch.xml", :rel => "search", :title => "Qiita", :type => "application/opensearchdescription+xml"}/
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=AW-935296116"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-935296116');
      
      // Event snippet for qiita remarketing page
      gtag('event', 'conversion', {
          'send_to': 'AW-935296116/jvRhCOaj5YYBEPT4_b0D',
          'value': 1.0,
          'currency': 'JPY',
          'aw_remarketing_only': true
      });
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "QA8nASRbsWQcAU5jTWaqX70odhLXoU+mL2JxUIXNn2+G5NBW/iW8CKRpeIJu78cxt5fu8Py3riupGMMH/XE9uQ==", :name => "csrf-token"}/
    %link{:href => "https://cdn.qiita.com/assets/favicons/public/production.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "https://cdn.qiita.com/assets/favicons/public/apple-touch-icon-f9a6afad761ec2306e10db2736187c8b.png", :rel => "apple-touch-icon", :type => "image/png"}/
    %link{:href => "https://cdn.qiita.com/assets/public/style-adb6f548791def970a35d05bfaf56b7a.min.css", :media => "all", :rel => "stylesheet"}/
    %script{:defer => "defer", :src => "https://cdn.qiita.com/assets/public/bundle-f95950da90a2ab32eed6e65c348f84a0.min.js"}
    %script{:src => "https://www.googletagmanager.com/gtag/js?id=UA-24675221-12"}
    %script{:src => "https://www.googletagservices.com/tag/js/gpt.js"}
    %link{:as => "script", :href => "https://adservice.google.co.jp/adsid/integrator.js?domain=qiita.com", :rel => "preload"}/
    %script{:src => "https://adservice.google.co.jp/adsid/integrator.js?domain=qiita.com", :type => "text/javascript"}
    %link{:as => "script", :href => "https://adservice.google.com/adsid/integrator.js?domain=qiita.com", :rel => "preload"}/
    %script{:src => "https://adservice.google.com/adsid/integrator.js?domain=qiita.com", :type => "text/javascript"}
    %script{:async => "", :src => "https://securepubads.g.doubleclick.net/gpt/pubads_impl_243.js"}
  %body
    .allWrapper
      %div{"data-hyperapp-app" => "GlobalHeader", "data-hyperapp-mounted" => "true", "data-hyperapp-props" => "{\"unreadNotificationsCount\":0,\"realms\":[{\"humanName\":\"Qiita\",\"isCurrentRealm\":true,\"isQiita\":true,\"isQiitaTeam\":false,\"loggedInUser\":{\"profileImageUrl\":\"https://avatars2.githubusercontent.com/u/22460261?v=4\",\"urlName\":\"Daniel16\"},\"teamId\":null,\"url\":\"https://qiita.com/\"}],\"teamFindUrl\":\"https://teams-center.qiita.com/find_team\",\"isTeamOnlyUser\":false,\"currentUser\":{\"isStaff\":false,\"name\":\"\",\"originalId\":252777,\"profileImageUrl\":\"https://avatars2.githubusercontent.com/u/22460261?v=4\",\"urlName\":\"Daniel16\"}}"}
        #globalHeader.st-Header
          .st-Header_container
            .st-Header_start
              %a.st-Header_logo.mr-1{:href => "/"}
                %svg{:viewbox => "0 0 75 25", :xmlns => "http://www.w3.org/2000/svg"}
                  %title Qiita
                  %path{:d => "M24.6 12.2C24.6 6.2 20 0 12.2 0 6.2 0 0 4.6 0 12.4c0 6 4.6 12.2 12.4 12.2 2.5 0 5-.8 7.1-2.3l3.6 3.6 1.6-1.6-3.4-3.4c2.1-2.3 3.3-5.3 3.3-8.7zm-12.4-10c5.7 0 10.2 4.4 10.2 10.1 0 4.9-3.8 10.1-10.1 10.1s-10.1-5.1-10.1-10c0-6.4 5.1-10.2 10-10.2zM30.5 7.1h2.1v17h-2.1zM31.5 4.8c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8 1.8.8 1.8 1.8-.8 1.8-1.8 1.8zM40 4.8c-1 0-1.8-.8-1.8-1.8S39 1.2 40 1.2s1.8.8 1.8 1.8S41 4.8 40 4.8zM39 7.1h2.1v17H39zM53.7 24.4c-3.9 0-6.2-3-6.2-6v-16h2.1v4.7H57v2.1h-7.4v9.3c0 1.9 1.5 3.9 4.1 3.9.7 0 1.4-.2 2-.6l.2-.1 1 1.8-.2.1c-.9.5-2 .8-3 .8zM67.6 24.5c-5.7 0-9.1-4.5-9.1-8.9 0-5.7 4.5-9.1 8.9-9.1 2.3 0 4.1.8 5.4 2.3V7.1h2.1v17h-2.1v-1.9c-1.2 1.5-3 2.3-5.2 2.3zm-.2-15.9c-3.4 0-6.8 2.6-6.8 7 0 3.4 2.6 6.8 7 6.8 2 0 4-.9 5.3-2.5v-8.8c-1.4-1.6-3.3-2.5-5.5-2.5z"}
              %div
                .st-Header_realmSelector{:tabindex => "0"}
                  %span.fa.fa-fw.fa-caret-down
                .st-Header_dropdown.st-RealmSelector
                  .st-RealmSelector_realms
                    %a.st-Header_dropdownItem.st-RealmItem{:href => "https://qiita.com/"}
                      .st-RealmItem_statusIcon
                        %span.fa.fa-fw.fa-check
                      .st-RealmItem_humanName Qiita
                  %hr/
                  .st-RealmSelector_supplements
                    .st-RealmSelector_label ログイン中のチームがありません
                    %a.st-Header_dropdownItem.st-RealmSelectorSupplement{:href => "https://teams-center.qiita.com/find_team"}
                      .st-RealmSelectorSupplement_icon
                        %span.fa.fa-fw.fa-sign-in
                      %div Qiita:Team にログイン...
              %div
                .st-Header_home{:tabindex => "0"}
                  ホーム
                  %span.fa.fa-fw.fa-caret-down.ml-1of2
                .st-Header_dropdown
                  %a.st-Header_dropdownItem{:href => "/"}
                    %span.fa.fa-fw.fa-line-chart.mr-1of2>
                    トレンド
                  %a.st-Header_dropdownItem{:href => "/timeline"}
                    %span.fa.fa-fw.fa-list-ul.mr-1of2>
                    タイムライン
                  %a.st-Header_dropdownItem{:href => "/tag-feed"}
                    %span.fa.fa-fw.fa-tags.mr-1of2>
                    タグフィード
              %div
                .st-Header_community{:tabindex => "0"}
                  コミュニティ
                  %span.fa.fa-fw.fa-caret-down.ml-1of2
                .st-Header_dropdown
                  %a.st-Header_dropdownItem{:href => "/users"}
                    %span.fa.fa-fw.fa-users.mr-1of2>
                    ユーザー一覧
                  %a.st-Header_dropdownItem{:href => "/organizations"}
                    %span.fa.fa-fw.fa-building-o.mr-1of2>
                    Organization一覧
                  %a.st-Header_dropdownItem{:href => "/advent-calendar"}
                    %span.fa.fa-fw.fa-calendar.mr-1of2>
                    アドベントカレンダー
                  .st-Header_dropdownSeparator
                  %a.st-Header_dropdownItem{:href => "https://qiitadon.com/", :target => "_blank"}
                    %span.fa.fa-fw.fa-comments-o.mr-1of2>
                    Qiitadon (β)
                  .st-Header_dropdownSeparator
                  %a.st-Header_dropdownItem{:href => "http://help.qiita.com/ja/articles/qiita-community-guideline", :target => "_blank"}
                    %span.fa.fa-fw.fa-book.mr-1of2>
                    コミュニティガイドライン
                  %a.st-Header_dropdownItem{:href => "http://help.qiita.com/ja/articles/qiita-article-guideline", :target => "_blank"}
                    %span.fa.fa-fw.fa-book.mr-1of2>
                    良い記事を書くために
              %form.st-Header_search{:action => "/search", :method => "get"}
                %span.fa.fa-search
                %input.st-Header_searchInput{:autocomplete => "off", :name => "q", :placeholder => "キーワードを入力", :required => "", :type => "search"}/
              .st-Header_searchButton
                %span.fa.fa-search
            .st-Header_end
              %a.st-Header_stock.mr-2.py-2{:href => "/stock"}
                %span.fa.fa-fw.fa-folder-open.mr-1of2
                %span.st-Header_stock-label ストック一覧
              %a.st-Header_postButton.mr-2.px-2{:href => "/drafts/new"}
                %span.fa.fa-fw.fa-pencil-square-o.mr-1>
                投稿する
              .u-relative
                .st-Header_notifications{:tabindex => "0"} 0
              .u-relative
                .st-Header_loginUser{:tabindex => "0"}
                  %img{:alt => "Daniel16", :src => "https://avatars2.githubusercontent.com/u/22460261?v=4"}/
                  %span.fa.fa-fw.fa-caret-down.ml-1
                .st-Header_dropdown
                  %a.st-Header_dropdownItem{:href => "/Daniel16"} マイページ
                  .st-Header_dropdownSeparator
                  %a.st-Header_dropdownItem{:href => "/drafts"} 下書き一覧
                  %a.st-Header_dropdownItem{:href => "/patches"} 編集リクエスト一覧
                  .st-Header_dropdownSeparator
                  %a.st-Header_dropdownItem{:href => "/settings"} 設定
                  %a.st-Header_dropdownItem{:href => "http://help.qiita.com/ja/categories/qiita/", :target => "_blank"} ヘルプ
                  .st-Header_dropdownSeparator
                  .st-Header_dropdownItem{:tabindex => "0"} ログアウト
            .st-Header_overlay
            %form.st-Header_searchModal{:action => "/search", :method => "get"}
              %input.st-Header_searchModalInput{:autocomplete => "off", :name => "q", :placeholder => "キーワードを入力", :required => "", :type => "text"}/
      .p-home.px-2.pt-4{:class => "px-1@s pt-1@s"}
        .p-home_container
          .p-home_menu.pt-1
            %a.p-home_menuItem.p-1.pl-2.mb-1.p-home_menuItem-active{:class => "pl-1@s", :href => "/"}
              %span.fa.fa-fw.fa-line-chart.mr-1of2>
              トレンド
            %a.p-home_menuItem.p-1.pl-2.mb-1{:class => "pl-1@s", :href => "/timeline"}
              %span.fa.fa-fw.fa-list-ul.mr-1of2>
              タイムライン
            %a.p-home_menuItem.p-1.pl-2.mb-1{:class => "pl-1@s", :href => "/tag-feed"}
              %span.fa.fa-fw.fa-tags.mr-1of2>
              タグフィード
            .p-home_mobileMenu
              %select.p-home_mobileMenuDropdown.pl-2.pt-1.pb-1.mb-1{:onchange => "location.href=value;"}
                %option.p-home_mobileMenuItem{:selected => "selected", :value => "/trend"} トレンド
                %option.p-home_mobileMenuItem{:value => "/timeline"} タイムライン
                %option.p-home_mobileMenuItem{:value => "/tag-feed"} タグフィード
          .p-home_main.mb-3{:class => "mr-0@s"}
            .tr-ItemList
              .tr-ItemList_header
                .tr-ItemList_label
                  %span.fa.fa-line-chart.mr-1>
                  トレンド
                .tr-ItemList_subLabel 最近人気の記事を毎日5時/17時に更新
                .tr-ItemList_tab
                  %a.tr-ItemList_tabItem.is-active{:href => "/"} 1日
                  %a.tr-ItemList_tabItem{:href => "/?scope=weekly"} 週間
                  %a.tr-ItemList_tabItem{:href => "/?scope=monthly"} 月間
              %div{"data-hyperapp-app" => "Trend", "data-hyperapp-mounted" => "true", "data-hyperapp-props" => "{\"trend\":{\"edges\":[{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-29T16:56:18Z\",\"likesCount\":529,\"title\":\"ソフトウェア開発に役立つ　心理学的現象、行動経済学の概念など　15題\",\"uuid\":\"4c7629276ced7e933235\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/44676/profile-images/1473689990\",\"urlName\":\"arai-wa\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-29T08:38:09Z\",\"likesCount\":189,\"title\":\"まともにコードが書けない大手SIerエンジニアが60万ダウンロードの大ヒットAndroidアプリを作った物語\",\"uuid\":\"c3904f4b1e22aea0c2d8\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/272753/profile-images/1531893256\",\"urlName\":\"hamham\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-30T15:33:29Z\",\"likesCount\":85,\"title\":\"Good Bye Vim. Hello VSCode.\",\"uuid\":\"e6b3b8fd5a727897dcf4\",\"author\":{\"profileImageUrl\":\"https://avatars.githubusercontent.com/u/1446542?v=3\",\"urlName\":\"shimma\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-30T11:06:33Z\",\"likesCount\":96,\"title\":\"iOSDC 2018 セッション資料まとめ\",\"uuid\":\"210e5735d2ce832d0c36\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/43540/profile-images/1504026157\",\"urlName\":\"winterwind26\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-29T03:16:59Z\",\"likesCount\":291,\"title\":\"【35歳プログラミング未経験者】が暗号通貨エンジニアに転職するためにしたこと\",\"uuid\":\"24157ed2a4587cec3c40\",\"author\":{\"profileImageUrl\":\"https://avatars0.githubusercontent.com/u/11623099?v=4\",\"urlName\":\"adrenaline0206\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-31T00:30:30Z\",\"likesCount\":49,\"title\":\"Vue CLIのプロジェクト管理UIがいい感じだった\",\"uuid\":\"8fcabc7a8445c1be8a30\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/48549/profile-images/1524132209\",\"urlName\":\"kai_kou\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-28T11:29:17Z\",\"likesCount\":347,\"title\":\"素人に毛が生えた程度のエンジニアでもプルリクしてOSSに貢献できた話\",\"uuid\":\"c6a8ccff6e4871c19d30\",\"author\":{\"profileImageUrl\":\"https://secure.gravatar.com/avatar/3d5cfc6662b94fc2743b54f3a819c349\",\"urlName\":\"esumura\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-31T00:29:56Z\",\"likesCount\":60,\"title\":\"【Ruby】乱用厳禁！？後置ifで書くとかえって読みづらくなるケース\",\"uuid\":\"4e47559a4c821474233a\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/7465/profile-images/1500323590\",\"urlName\":\"jnchito\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-28T01:20:31Z\",\"likesCount\":317,\"title\":\"SPA(Single Page Application)の学習、そこに高度なスキルなどいらない\",\"uuid\":\"ded7cec28b3b8792bb88\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/267629/profile-images/1535165626\",\"urlName\":\"SoraKumo\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-30T08:49:29Z\",\"likesCount\":73,\"title\":\"ARKitのための3D数学\",\"uuid\":\"775633fe3fd6da9c5fb6\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/111366/profile-images/1519995304\",\"urlName\":\"k-boy\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-31T06:44:10Z\",\"likesCount\":22,\"title\":\"ちょっと良さげな負荷ツール vegeta をつかって分散負荷試験を実現してみる\",\"uuid\":\"f8cdfac7683216a29c56\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/28681/profile-images/1473685233\",\"urlName\":\"chidakiyo\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":true,\"node\":{\"createdAt\":\"2018-08-30T14:47:15Z\",\"likesCount\":18,\"title\":\"Webサーバをセキュアに保つ設定のまとめ\",\"uuid\":\"78ed2d3810ad17f72398\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/184843/profile-images/1535640488\",\"urlName\":\"ariaki\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":true,\"node\":{\"createdAt\":\"2018-09-01T01:18:48Z\",\"likesCount\":11,\"title\":\"ARKit Maniacs リファレンス\",\"uuid\":\"0df2ca005d0a17a3a3a4\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/63205/profile-images/1473696192\",\"urlName\":\"satoshi0212\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":true,\"node\":{\"createdAt\":\"2018-08-30T15:06:46Z\",\"likesCount\":19,\"title\":\"Firebaseを使い始めたら人生が変わった(ような気がした)\",\"uuid\":\"c51c6ec27c9e2f5804b0\",\"author\":{\"profileImageUrl\":\"https://avatars1.githubusercontent.com/u/25262205?v=3\",\"urlName\":\"owen\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-30T07:52:01Z\",\"likesCount\":48,\"title\":\"React Native v0.57がTypeScriptに対応したらしいので動かしてみた\",\"uuid\":\"cf1516136d2db981fbb9\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/2276/profile-images/1473681370\",\"urlName\":\"Nkzn\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-28T01:40:49Z\",\"likesCount\":219,\"title\":\"チョットできるGoプログラマーになるための詳解GoDoc\",\"uuid\":\"8c70fdd1972fad76a5ce\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/6105/profile-images/1473682573\",\"urlName\":\"shibukawa\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-28T06:22:30Z\",\"likesCount\":98,\"title\":\"「VB歴18年」の私がVBの素晴らしさを語る【C#もPHPもPythonもメインで使わない理由】\",\"uuid\":\"1c92d33855cfd09ccc57\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/269165/profile-images/1535429012\",\"urlName\":\"nodakoubou\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-29T17:47:48Z\",\"likesCount\":53,\"title\":\"OculusGo用の個人制作ゲームをストアリリース　～ストア審査はパフォーマンス確保との闘い～\",\"uuid\":\"fce024d6867dd35cef4a\",\"author\":{\"profileImageUrl\":\"https://pbs.twimg.com/profile_images/1000656774150537218/iFa7CbbA_bigger.jpg\",\"urlName\":\"hoke946\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":true,\"node\":{\"createdAt\":\"2018-08-31T19:26:17Z\",\"likesCount\":7,\"title\":\"[C#]絶対名前空間を使ってはいけないC#\",\"uuid\":\"312780b534592a98a17c\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/42193/profile-images/1473689068\",\"urlName\":\"yaegaki\"}}},{\"followingLikers\":[],\"isLikedByViewer\":false,\"isNewArrival\":false,\"node\":{\"createdAt\":\"2018-08-27T09:48:57Z\",\"likesCount\":28,\"title\":\"CuPyのElementwiseKernelで楽にGPUの恩恵を受ける\",\"uuid\":\"e4d8b3a2ca14c54511f1\",\"author\":{\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/283978/profile-images/1535212204\",\"urlName\":\"no_more_syakai\"}}}]}}"}
                %div
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/arai-wa"}
                      %img{:alt => "arai-wa", :src => "https://qiita-image-store.s3.amazonaws.com/0/44676/profile-images/1473689990"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/arai-wa/items/4c7629276ced7e933235"} ソフトウェア開発に役立つ　心理学的現象、行動経済学の概念など　15題
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/arai-wa"} arai-wa
                        %time 2 days ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          529
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/hamham"}
                      %img{:alt => "hamham", :src => "https://qiita-image-store.s3.amazonaws.com/0/272753/profile-images/1531893256"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/hamham/items/c3904f4b1e22aea0c2d8"} まともにコードが書けない大手SIerエンジニアが60万ダウンロードの大ヒットAndroidアプリを作った物語
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/hamham"} hamham
                        %time 3 days ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          189
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/shimma"}
                      %img{:alt => "shimma", :src => "https://avatars.githubusercontent.com/u/1446542?v=3"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/shimma/items/e6b3b8fd5a727897dcf4"} Good Bye Vim. Hello VSCode.
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/shimma"} shimma
                        %time 1 day ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          85
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/winterwind26"}
                      %img{:alt => "winterwind26", :src => "https://qiita-image-store.s3.amazonaws.com/0/43540/profile-images/1504026157"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/winterwind26/items/210e5735d2ce832d0c36"} iOSDC 2018 セッション資料まとめ
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/winterwind26"} winterwind26
                        %time 1 day ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          96
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/adrenaline0206"}
                      %img{:alt => "adrenaline0206", :src => "https://avatars0.githubusercontent.com/u/11623099?v=4"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/adrenaline0206/items/24157ed2a4587cec3c40"} 【35歳プログラミング未経験者】が暗号通貨エンジニアに転職するためにしたこと
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/adrenaline0206"} adrenaline0206
                        %time 3 days ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          291
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/kai_kou"}
                      %img{:alt => "kai_kou", :src => "https://qiita-image-store.s3.amazonaws.com/0/48549/profile-images/1524132209"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/kai_kou/items/8fcabc7a8445c1be8a30"} Vue CLIのプロジェクト管理UIがいい感じだった
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/kai_kou"} kai_kou
                        %time 1 day ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          49
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/esumura"}
                      %img{:alt => "esumura", :src => "https://secure.gravatar.com/avatar/3d5cfc6662b94fc2743b54f3a819c349"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/esumura/items/c6a8ccff6e4871c19d30"} 素人に毛が生えた程度のエンジニアでもプルリクしてOSSに貢献できた話
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/esumura"} esumura
                        %time 3 days ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          347
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/jnchito"}
                      %img{:alt => "jnchito", :src => "https://qiita-image-store.s3.amazonaws.com/0/7465/profile-images/1500323590"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/jnchito/items/4e47559a4c821474233a"} 【Ruby】乱用厳禁！？後置ifで書くとかえって読みづらくなるケース
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/jnchito"} jnchito
                        %time 1 day ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          60
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/SoraKumo"}
                      %img{:alt => "SoraKumo", :src => "https://qiita-image-store.s3.amazonaws.com/0/267629/profile-images/1535165626"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/SoraKumo/items/ded7cec28b3b8792bb88"} SPA(Single Page Application)の学習、そこに高度なスキルなどいらない
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/SoraKumo"} SoraKumo
                        %time 4 days ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          317
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/k-boy"}
                      %img{:alt => "k-boy", :src => "https://qiita-image-store.s3.amazonaws.com/0/111366/profile-images/1519995304"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/k-boy/items/775633fe3fd6da9c5fb6"} ARKitのための3D数学
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/k-boy"} k-boy
                        %time 1 day ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          73
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/chidakiyo"}
                      %img{:alt => "chidakiyo", :src => "https://qiita-image-store.s3.amazonaws.com/0/28681/profile-images/1473685233"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/chidakiyo/items/f8cdfac7683216a29c56"} ちょっと良さげな負荷ツール vegeta をつかって分散負荷試験を実現してみる
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/chidakiyo"} chidakiyo
                        %time 1 day ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          22
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/ariaki"}
                      %img{:alt => "ariaki", :src => "https://qiita-image-store.s3.amazonaws.com/0/184843/profile-images/1535640488"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/ariaki/items/78ed2d3810ad17f72398"} Webサーバをセキュアに保つ設定のまとめ
                      .tr-Item_meta
                        %span.tr-Item_new new
                        %span
                          by
                          %a.tr-Item_author{:href => "/ariaki"} ariaki
                        %time 1 day ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          18
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/satoshi0212"}
                      %img{:alt => "satoshi0212", :src => "https://qiita-image-store.s3.amazonaws.com/0/63205/profile-images/1473696192"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/satoshi0212/items/0df2ca005d0a17a3a3a4"} ARKit Maniacs リファレンス
                      .tr-Item_meta
                        %span.tr-Item_new new
                        %span
                          by
                          %a.tr-Item_author{:href => "/satoshi0212"} satoshi0212
                        %time 7 hours ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          11
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/owen"}
                      %img{:alt => "owen", :src => "https://avatars1.githubusercontent.com/u/25262205?v=3"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/owen/items/c51c6ec27c9e2f5804b0"} Firebaseを使い始めたら人生が変わった(ような気がした)
                      .tr-Item_meta
                        %span.tr-Item_new new
                        %span
                          by
                          %a.tr-Item_author{:href => "/owen"} owen
                        %time 1 day ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          19
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/Nkzn"}
                      %img{:alt => "Nkzn", :src => "https://qiita-image-store.s3.amazonaws.com/0/2276/profile-images/1473681370"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/Nkzn/items/cf1516136d2db981fbb9"} React Native v0.57がTypeScriptに対応したらしいので動かしてみた
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/Nkzn"} Nkzn
                        %time 2 days ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          48
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/shibukawa"}
                      %img{:alt => "shibukawa", :src => "https://qiita-image-store.s3.amazonaws.com/0/6105/profile-images/1473682573"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/shibukawa/items/8c70fdd1972fad76a5ce"} チョットできるGoプログラマーになるための詳解GoDoc
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/shibukawa"} shibukawa
                        %time 4 days ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          219
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/nodakoubou"}
                      %img{:alt => "nodakoubou", :src => "https://qiita-image-store.s3.amazonaws.com/0/269165/profile-images/1535429012"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/nodakoubou/items/1c92d33855cfd09ccc57"} 「VB歴18年」の私がVBの素晴らしさを語る【C#もPHPもPythonもメインで使わない理由】
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/nodakoubou"} nodakoubou
                        %time 4 days ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          98
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/hoke946"}
                      %img{:alt => "hoke946", :src => "https://pbs.twimg.com/profile_images/1000656774150537218/iFa7CbbA_bigger.jpg"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/hoke946/items/fce024d6867dd35cef4a"} OculusGo用の個人制作ゲームをストアリリース　～ストア審査はパフォーマンス確保との闘い～
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/hoke946"} hoke946
                        %time 2 days ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          53
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/yaegaki"}
                      %img{:alt => "yaegaki", :src => "https://qiita-image-store.s3.amazonaws.com/0/42193/profile-images/1473689068"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/yaegaki/items/312780b534592a98a17c"} [C#]絶対名前空間を使ってはいけないC#
                      .tr-Item_meta
                        %span.tr-Item_new new
                        %span
                          by
                          %a.tr-Item_author{:href => "/yaegaki"} yaegaki
                        %time 13 hours ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          7
                  .tr-Item
                    %a.tr-Item_userImage{:href => "/no_more_syakai"}
                      %img{:alt => "no_more_syakai", :src => "https://qiita-image-store.s3.amazonaws.com/0/283978/profile-images/1535212204"}/
                    .tr-Item_body
                      %a.tr-Item_title{:href => "/no_more_syakai/items/e4d8b3a2ca14c54511f1"} CuPyのElementwiseKernelで楽にGPUの恩恵を受ける
                      .tr-Item_meta
                        %span
                          by
                          %a.tr-Item_author{:href => "/no_more_syakai"} no_more_syakai
                        %time 4 days ago
                        .tr-Item_likeCount
                          %span.fa.fa-thumbs-up.mr-1of2>
                          28
          .p-home_aside
            .p-home_ad
              %div{"data-hyperapp-app" => "GPTSlot", "data-hyperapp-mounted" => "true", "data-hyperapp-props" => "{\"id\":\"trend-side-ad\",\"adUnitPath\":\"/383564218/p_qiita_300x250_login_feed_sidebar-top\",\"size\":[300,250]}"}
                #trend-side-ad{"data-google-query-id" => "CMLy7NOzmd0CFUcgKgodo6EMFg", "data-test-adunitpath" => "/383564218/p_qiita_300x250_login_feed_sidebar-top"}
                  %div{:id => "google_ads_iframe_/383564218/p_qiita_300x250_login_feed_sidebar-top_0__container__", :style => "border: 0pt none;"}
                    %iframe{:frameborder => "0", :height => "250", :id => "google_ads_iframe_/383564218/p_qiita_300x250_login_feed_sidebar-top_0", :marginheight => "0", :marginwidth => "0", :name => "google_ads_iframe_/383564218/p_qiita_300x250_login_feed_sidebar-top_0", :scrolling => "no", :srcdoc => "", :style => "border: 0px; vertical-align: bottom;", :title => "3rd party ad content", :width => "300"}
            %div{"data-hyperapp-app" => "UserRanking", "data-hyperapp-mounted" => "true", "data-hyperapp-props" => "{\"userRanking\":{\"edges\":[{\"score\":768,\"node\":{\"name\":\"\",\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/174502/profile-images/1535199081\",\"urlName\":\"yoichiwo7\"}},{\"score\":682,\"node\":{\"name\":\"Yoshihiro Yamazaki\",\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/1798/profile-images/1517632551\",\"urlName\":\"yoya\"}},{\"score\":645,\"node\":{\"name\":\"はこざる\",\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/115909/profile-images/1473713075\",\"urlName\":\"hakozaru\"}},{\"score\":437,\"node\":{\"name\":\"\",\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/44676/profile-images/1473689990\",\"urlName\":\"arai-wa\"}},{\"score\":375,\"node\":{\"name\":\"雲 空\",\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/267629/profile-images/1535165626\",\"urlName\":\"SoraKumo\"}},{\"score\":361,\"node\":{\"name\":\"\",\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/188414/profile-images/1512049389\",\"urlName\":\"Ishio\"}},{\"score\":351,\"node\":{\"name\":\"\",\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/221948/profile-images/1516972105\",\"urlName\":\"gold-kou\"}},{\"score\":339,\"node\":{\"name\":\"みやたけ ゆき\",\"profileImageUrl\":\"https://qiita-image-store.s3.amazonaws.com/0/13916/profile-images/1473683105\",\"urlName\":\"YukiMiyatake\"}},{\"score\":332,\"node\":{\"name\":\"\",\"profileImageUrl\":\"https://secure.gravatar.com/avatar/3d5cfc6662b94fc2743b54f3a819c349\",\"urlName\":\"esumura\"}},{\"score\":302,\"node\":{\"name\":\"\",\"profileImageUrl\":\"https://avatars1.githubusercontent.com/u/31837650?v=4\",\"urlName\":\"sosumii\"}}]},\"scope\":\"WEEKLY\"}"}
              .ra-UserList.p-2
                .ra-UserList_header.mb-2
                  .ra-UserList_label ユーザーランキング
                  .ra-UserList_tab
                    .ra-UserList_tabItem.is-active{:tabindex => "0"} 週間
                    .ra-UserList_tabItem{:tabindex => "0"} 月間
                    .ra-UserList_tabItem{:tabindex => "0"} 全て
                .ra-UserList_content
                  .ra-User
                    .ra-User_start
                      .ra-User_rank.px-2.mr-1
                        %span.fa.fa-trophy.is-gold
                      %a.ra-User_image.mr-1{:href => "/yoichiwo7"}
                        %img{:alt => "yoichiwo7", :src => "https://qiita-image-store.s3.amazonaws.com/0/174502/profile-images/1535199081"}/
                      %div
                        .ra-User_screenname.pr-1
                          %a{:href => "/yoichiwo7"} @yoichiwo7
                    .ra-User_contrib
                      .ra-User_contribCount> 768
                      Contributions
                .ra-UserList_content
                  .ra-User
                    .ra-User_start
                      .ra-User_rank.px-2.mr-1
                        %span.fa.fa-trophy.is-silver
                      %a.ra-User_image.mr-1{:href => "/yoya"}
                        %img{:alt => "yoya", :src => "https://qiita-image-store.s3.amazonaws.com/0/1798/profile-images/1517632551"}/
                      %div
                        .ra-User_name.pr-1
                          %a{:href => "/yoya"} Yoshihiro Yamazaki
                        .ra-User_screenname.pr-1
                          %a{:href => "/yoya"} @yoya
                    .ra-User_contrib
                      .ra-User_contribCount> 682
                      Contributions
                .ra-UserList_content
                  .ra-User
                    .ra-User_start
                      .ra-User_rank.px-2.mr-1
                        %span.fa.fa-trophy.is-bronze
                      %a.ra-User_image.mr-1{:href => "/hakozaru"}
                        %img{:alt => "hakozaru", :src => "https://qiita-image-store.s3.amazonaws.com/0/115909/profile-images/1473713075"}/
                      %div
                        .ra-User_name.pr-1
                          %a{:href => "/hakozaru"} はこざる
                        .ra-User_screenname.pr-1
                          %a{:href => "/hakozaru"} @hakozaru
                    .ra-User_contrib
                      .ra-User_contribCount> 645
                      Contributions
                .ra-UserList_content
                  .ra-User
                    .ra-User_start
                      .ra-User_rank.px-2.mr-1 4
                      %a.ra-User_image.mr-1{:href => "/arai-wa"}
                        %img{:alt => "arai-wa", :src => "https://qiita-image-store.s3.amazonaws.com/0/44676/profile-images/1473689990"}/
                      %div
                        .ra-User_screenname.pr-1
                          %a{:href => "/arai-wa"} @arai-wa
                    .ra-User_contrib
                      .ra-User_contribCount> 437
                      Contributions
                .ra-UserList_content
                  .ra-User
                    .ra-User_start
                      .ra-User_rank.px-2.mr-1 5
                      %a.ra-User_image.mr-1{:href => "/SoraKumo"}
                        %img{:alt => "SoraKumo", :src => "https://qiita-image-store.s3.amazonaws.com/0/267629/profile-images/1535165626"}/
                      %div
                        .ra-User_name.pr-1
                          %a{:href => "/SoraKumo"} 雲 空
                        .ra-User_screenname.pr-1
                          %a{:href => "/SoraKumo"} @SoraKumo
                    .ra-User_contrib
                      .ra-User_contribCount> 375
                      Contributions
                .ra-UserList_content
                  .ra-User
                    .ra-User_start
                      .ra-User_rank.px-2.mr-1 6
                      %a.ra-User_image.mr-1{:href => "/Ishio"}
                        %img{:alt => "Ishio", :src => "https://qiita-image-store.s3.amazonaws.com/0/188414/profile-images/1512049389"}/
                      %div
                        .ra-User_screenname.pr-1
                          %a{:href => "/Ishio"} @Ishio
                    .ra-User_contrib
                      .ra-User_contribCount> 361
                      Contributions
                .ra-UserList_content
                  .ra-User
                    .ra-User_start
                      .ra-User_rank.px-2.mr-1 7
                      %a.ra-User_image.mr-1{:href => "/gold-kou"}
                        %img{:alt => "gold-kou", :src => "https://qiita-image-store.s3.amazonaws.com/0/221948/profile-images/1516972105"}/
                      %div
                        .ra-User_screenname.pr-1
                          %a{:href => "/gold-kou"} @gold-kou
                    .ra-User_contrib
                      .ra-User_contribCount> 351
                      Contributions
                .ra-UserList_content
                  .ra-User
                    .ra-User_start
                      .ra-User_rank.px-2.mr-1 8
                      %a.ra-User_image.mr-1{:href => "/YukiMiyatake"}
                        %img{:alt => "YukiMiyatake", :src => "https://qiita-image-store.s3.amazonaws.com/0/13916/profile-images/1473683105"}/
                      %div
                        .ra-User_name.pr-1
                          %a{:href => "/YukiMiyatake"} みやたけ ゆき
                        .ra-User_screenname.pr-1
                          %a{:href => "/YukiMiyatake"} @YukiMiyatake
                    .ra-User_contrib
                      .ra-User_contribCount> 339
                      Contributions
                .ra-UserList_content
                  .ra-User
                    .ra-User_start
                      .ra-User_rank.px-2.mr-1 9
                      %a.ra-User_image.mr-1{:href => "/esumura"}
                        %img{:alt => "esumura", :src => "https://secure.gravatar.com/avatar/3d5cfc6662b94fc2743b54f3a819c349"}/
                      %div
                        .ra-User_screenname.pr-1
                          %a{:href => "/esumura"} @esumura
                    .ra-User_contrib
                      .ra-User_contribCount> 332
                      Contributions
                .ra-UserList_content
                  .ra-User
                    .ra-User_start
                      .ra-User_rank.px-2.mr-1 10
                      %a.ra-User_image.mr-1{:href => "/sosumii"}
                        %img{:alt => "sosumii", :src => "https://avatars1.githubusercontent.com/u/31837650?v=4"}/
                      %div
                        .ra-User_screenname.pr-1
                          %a{:href => "/sosumii"} @sosumii
                    .ra-User_contrib
                      .ra-User_contribCount> 302
                      Contributions
            %div{"data-hyperapp-app" => "TagRanking", "data-hyperapp-mounted" => "true", "data-hyperapp-props" => "{\"tagRanking\":{\"edges\":[{\"score\":164,\"node\":{\"mediumIconUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/bcef5ec765c6eb84e5ec3300ce1ff16850bb3e14/medium.jpg?1512821048\",\"name\":\"Python\",\"urlName\":\"python\"}},{\"score\":117,\"node\":{\"mediumIconUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/65275b3d3423ddf27cec968034cca8850e4ca97b/medium.jpg?1490807160\",\"name\":\"JavaScript\",\"urlName\":\"javascript\"}},{\"score\":84,\"node\":{\"mediumIconUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/e4c5b2934424684d712ca939b6d82a4da7722844/medium.jpg?1479386754\",\"name\":\"AWS\",\"urlName\":\"aws\"}},{\"score\":80,\"node\":{\"mediumIconUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/1420ca7652bf7c28bdab51be6f5bcd4640df27b1/medium.jpg?1478446216\",\"name\":\"PHP\",\"urlName\":\"php\"}},{\"score\":58,\"node\":{\"mediumIconUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/30af4a22607c5936f3ac647331e94978f6feb20a/medium.jpg?1462785908\",\"name\":\"python3\",\"urlName\":\"python3\"}},{\"score\":57,\"node\":{\"mediumIconUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/f8da947d9c7f46fd4b061b2df9538615f2a587b6/medium.jpg?1498197309\",\"name\":\"iOS\",\"urlName\":\"ios\"}},{\"score\":52,\"node\":{\"mediumIconUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/ae420e8f134ac99c9f691b907029ae347d42c4fc/medium.jpg?1364838323\",\"name\":\"Linux\",\"urlName\":\"linux\"}},{\"score\":52,\"node\":{\"mediumIconUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/f577d33e0031b68387fcf0168098b070101a48ab/medium.jpg?1475471164\",\"name\":\"Android\",\"urlName\":\"android\"}},{\"score\":51,\"node\":{\"mediumIconUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/8924010780db484a83145542a3e49c6c2084ecb7/medium.jpg?1401738498\",\"name\":\"Swift\",\"urlName\":\"swift\"}},{\"score\":51,\"node\":{\"mediumIconUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/2d9d29c9afae16b46bd25b800ce817072f94d423/medium.jpg?1516936869\",\"name\":\"docker\",\"urlName\":\"docker\"}}]},\"scope\":\"WEEKLY\"}"}
              .ra-TagList.p-2
                .ra-TagList_header.mb-2
                  .ra-TagList_label タグ・ランキング
                  .ra-TagList_tab
                    .ra-TagList_tabItem.is-active{:tabindex => "0"} 週間
                    .ra-TagList_tabItem{:tabindex => "0"} 月間
                    .ra-TagList_tabItem{:tabindex => "0"} 全て
                .ra-TagList_content
                  .ra-Tag
                    .ra-Tag_start
                      .ra-Tag_rank.px-2.mr-1
                        %span.fa.fa-trophy.is-gold
                      %a.ra-Tag_image.mr-1{:href => "/tags/python"}
                        %img{:src => "https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/bcef5ec765c6eb84e5ec3300ce1ff16850bb3e14/medium.jpg?1512821048"}/
                      .ra-Tag_name.pr-1
                        %a{:href => "/tags/python"} Python
                    .ra-Tag_post
                      .ra-Tag_postCount> 164
                      Posts
                .ra-TagList_content
                  .ra-Tag
                    .ra-Tag_start
                      .ra-Tag_rank.px-2.mr-1
                        %span.fa.fa-trophy.is-silver
                      %a.ra-Tag_image.mr-1{:href => "/tags/javascript"}
                        %img{:src => "https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/65275b3d3423ddf27cec968034cca8850e4ca97b/medium.jpg?1490807160"}/
                      .ra-Tag_name.pr-1
                        %a{:href => "/tags/javascript"} JavaScript
                    .ra-Tag_post
                      .ra-Tag_postCount> 117
                      Posts
                .ra-TagList_content
                  .ra-Tag
                    .ra-Tag_start
                      .ra-Tag_rank.px-2.mr-1
                        %span.fa.fa-trophy.is-bronze
                      %a.ra-Tag_image.mr-1{:href => "/tags/aws"}
                        %img{:src => "https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/e4c5b2934424684d712ca939b6d82a4da7722844/medium.jpg?1479386754"}/
                      .ra-Tag_name.pr-1
                        %a{:href => "/tags/aws"} AWS
                    .ra-Tag_post
                      .ra-Tag_postCount> 84
                      Posts
                .ra-TagList_content
                  .ra-Tag
                    .ra-Tag_start
                      .ra-Tag_rank.px-2.mr-1 4
                      %a.ra-Tag_image.mr-1{:href => "/tags/php"}
                        %img{:src => "https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/1420ca7652bf7c28bdab51be6f5bcd4640df27b1/medium.jpg?1478446216"}/
                      .ra-Tag_name.pr-1
                        %a{:href => "/tags/php"} PHP
                    .ra-Tag_post
                      .ra-Tag_postCount> 80
                      Posts
                .ra-TagList_content
                  .ra-Tag
                    .ra-Tag_start
                      .ra-Tag_rank.px-2.mr-1 5
                      %a.ra-Tag_image.mr-1{:href => "/tags/python3"}
                        %img{:src => "https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/30af4a22607c5936f3ac647331e94978f6feb20a/medium.jpg?1462785908"}/
                      .ra-Tag_name.pr-1
                        %a{:href => "/tags/python3"} python3
                    .ra-Tag_post
                      .ra-Tag_postCount> 58
                      Posts
                .ra-TagList_content
                  .ra-Tag
                    .ra-Tag_start
                      .ra-Tag_rank.px-2.mr-1 6
                      %a.ra-Tag_image.mr-1{:href => "/tags/ios"}
                        %img{:src => "https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/f8da947d9c7f46fd4b061b2df9538615f2a587b6/medium.jpg?1498197309"}/
                      .ra-Tag_name.pr-1
                        %a{:href => "/tags/ios"} iOS
                    .ra-Tag_post
                      .ra-Tag_postCount> 57
                      Posts
                .ra-TagList_content
                  .ra-Tag
                    .ra-Tag_start
                      .ra-Tag_rank.px-2.mr-1 7
                      %a.ra-Tag_image.mr-1{:href => "/tags/linux"}
                        %img{:src => "https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/ae420e8f134ac99c9f691b907029ae347d42c4fc/medium.jpg?1364838323"}/
                      .ra-Tag_name.pr-1
                        %a{:href => "/tags/linux"} Linux
                    .ra-Tag_post
                      .ra-Tag_postCount> 52
                      Posts
                .ra-TagList_content
                  .ra-Tag
                    .ra-Tag_start
                      .ra-Tag_rank.px-2.mr-1 8
                      %a.ra-Tag_image.mr-1{:href => "/tags/android"}
                        %img{:src => "https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/f577d33e0031b68387fcf0168098b070101a48ab/medium.jpg?1475471164"}/
                      .ra-Tag_name.pr-1
                        %a{:href => "/tags/android"} Android
                    .ra-Tag_post
                      .ra-Tag_postCount> 52
                      Posts
                .ra-TagList_content
                  .ra-Tag
                    .ra-Tag_start
                      .ra-Tag_rank.px-2.mr-1 9
                      %a.ra-Tag_image.mr-1{:href => "/tags/swift"}
                        %img{:src => "https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/8924010780db484a83145542a3e49c6c2084ecb7/medium.jpg?1401738498"}/
                      .ra-Tag_name.pr-1
                        %a{:href => "/tags/swift"} Swift
                    .ra-Tag_post
                      .ra-Tag_postCount> 51
                      Posts
                .ra-TagList_content
                  .ra-Tag
                    .ra-Tag_start
                      .ra-Tag_rank.px-2.mr-1 10
                      %a.ra-Tag_image.mr-1{:href => "/tags/docker"}
                        %img{:src => "https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/2d9d29c9afae16b46bd25b800ce817072f94d423/medium.jpg?1516936869"}/
                      .ra-Tag_name.pr-1
                        %a{:href => "/tags/docker"} docker
                    .ra-Tag_post
                      .ra-Tag_postCount> 51
                      Posts
            %div{"data-hyperapp-app" => "OrganizationRanking", "data-hyperapp-mounted" => "true", "data-hyperapp-props" => "{\"organizationRanking\":{\"edges\":[{\"score\":10,\"node\":{\"name\":\"ShouldBee\",\"logoUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/b33de288accd2de8a446a7bd67039eb306bcb99a/original.jpg?1419476052\",\"urlName\":\"shouldbee\"}},{\"score\":8,\"node\":{\"name\":\"インフラ勉強会\",\"logoUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/add6bb212360bd4c1305f0a4224315dde22ec61f/original.jpg?1530068469\",\"urlName\":\"infra-workshop\"}},{\"score\":7,\"node\":{\"name\":\"アイレット株式会社(cloudpack)\",\"logoUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/b96f2cf7abab99053ed76cc32c0b34ff96d7018a/original.jpg?1405472933\",\"urlName\":\"cloudpack\"}},{\"score\":6,\"node\":{\"name\":\"RHEMS技術研究室\",\"logoUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/b3c2b577529d256a1f4e8a3264d161e07a93e96a/original.jpg?1535441254\",\"urlName\":\"rhems-japan\"}},{\"score\":6,\"node\":{\"name\":\"千株式会社\",\"logoUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/0024c2f5e3e52fe3d9d7c4a0219dd16ce00839d8/original.jpg?1519721144\",\"urlName\":\"sencorp\"}},{\"score\":6,\"node\":{\"name\":\"株式会社インフィニットループ\",\"logoUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/34f530511f01a99ce5bdf0a2ec06755bbde40146/original.jpg?1390470061\",\"urlName\":\"infiniteloop\"}},{\"score\":6,\"node\":{\"name\":\"日通情報システム株式会社\",\"logoUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/933b8e72b27eb84a2becbb948d7eb9a93efe8327/original.jpg?1534402514\",\"urlName\":\"nittsu-infosys\"}},{\"score\":6,\"node\":{\"name\":\"リコーITソリューションズ株式会社\",\"logoUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/aa15a06a3a9c55560c1aa315e5843bcece40b592/original.jpg?1461311034\",\"urlName\":\"jrits\"}},{\"score\":5,\"node\":{\"name\":\"IoTLT\",\"logoUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/67955531570736d618f59dd5e615b01285b22217/original.jpg?1485315227\",\"urlName\":\"iotlt\"}},{\"score\":5,\"node\":{\"name\":\"DMM.com\",\"logoUrl\":\"https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/b6e218d77ed3ec62b603ae9870b72f04fa0b169d/original.jpg?1533286889\",\"urlName\":\"dmmcom\"}}]},\"scope\":\"WEEKLY\"}"}
              .ra-OrganizationList.p-2
                .ra-OrganizationList_header.mb-2
                  %a.ra-OrganizationList_label{:href => "/organizations"} Organizationランキング
                  .ra-OrganizationList_tab
                    .ra-OrganizationList_tabItem.is-active{:tabindex => "0"} 週間
                    .ra-OrganizationList_tabItem{:tabindex => "0"} 月間
                .ra-OrganizationList_content
                  .ra-Organization
                    .ra-Organization_start
                      .ra-Organization_rank.px-2.mr-1
                        %span.fa.fa-trophy.is-gold
                      %a.ra-Organization_image.mr-1{:href => "/organizations/shouldbee"}
                        %img{:alt => "shouldbee", :src => "https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/b33de288accd2de8a446a7bd67039eb306bcb99a/original.jpg?1419476052"}/
                      %div
                        .ra-Organization_name.pr-1
                          %a{:href => "/organizations/shouldbee"} ShouldBee
                    .ra-Organization_contrib
                      .ra-Organization_contribCount> 10
                      Posts
                .ra-OrganizationList_content
                  .ra-Organization
                    .ra-Organization_start
                      .ra-Organization_rank.px-2.mr-1
                        %span.fa.fa-trophy.is-silver
                      %a.ra-Organization_image.mr-1{:href => "/organizations/infra-workshop"}
                        %img{:alt => "infra-workshop", :src => "https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/add6bb212360bd4c1305f0a4224315dde22ec61f/original.jpg?1530068469"}/
                      %div
                        .ra-Organization_name.pr-1
                          %a{:href => "/organizations/infra-workshop"} インフラ勉強会
                    .ra-Organization_contrib
                      .ra-Organization_contribCount> 8
                      Posts
                .ra-OrganizationList_content
                  .ra-Organization
                    .ra-Organization_start
                      .ra-Organization_rank.px-2.mr-1
                        %span.fa.fa-trophy.is-bronze
                      %a.ra-Organization_image.mr-1{:href => "/organizations/cloudpack"}
                        %img{:alt => "cloudpack", :src => "https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/b96f2cf7abab99053ed76cc32c0b34ff96d7018a/original.jpg?1405472933"}/
                      %div
                        .ra-Organization_name.pr-1
                          %a{:href => "/organizations/cloudpack"} アイレット株式会社(cloudpack)
                    .ra-Organization_contrib
                      .ra-Organization_contribCount> 7
                      Posts
                .ra-OrganizationList_content
                  .ra-Organization
                    .ra-Organization_start
                      .ra-Organization_rank.px-2.mr-1 4
                      %a.ra-Organization_image.mr-1{:href => "/organizations/rhems-japan"}
                        %img{:alt => "rhems-japan", :src => "https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/b3c2b577529d256a1f4e8a3264d161e07a93e96a/original.jpg?1535441254"}/
                      %div
                        .ra-Organization_name.pr-1
                          %a{:href => "/organizations/rhems-japan"} RHEMS技術研究室
                    .ra-Organization_contrib
                      .ra-Organization_contribCount> 6
                      Posts
                .ra-OrganizationList_content
                  .ra-Organization
                    .ra-Organization_start
                      .ra-Organization_rank.px-2.mr-1 5
                      %a.ra-Organization_image.mr-1{:href => "/organizations/sencorp"}
                        %img{:alt => "sencorp", :src => "https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/0024c2f5e3e52fe3d9d7c4a0219dd16ce00839d8/original.jpg?1519721144"}/
                      %div
                        .ra-Organization_name.pr-1
                          %a{:href => "/organizations/sencorp"} 千株式会社
                    .ra-Organization_contrib
                      .ra-Organization_contribCount> 6
                      Posts
                .ra-OrganizationList_content
                  .ra-Organization
                    .ra-Organization_start
                      .ra-Organization_rank.px-2.mr-1 6
                      %a.ra-Organization_image.mr-1{:href => "/organizations/infiniteloop"}
                        %img{:alt => "infiniteloop", :src => "https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/34f530511f01a99ce5bdf0a2ec06755bbde40146/original.jpg?1390470061"}/
                      %div
                        .ra-Organization_name.pr-1
                          %a{:href => "/organizations/infiniteloop"} 株式会社インフィニットループ
                    .ra-Organization_contrib
                      .ra-Organization_contribCount> 6
                      Posts
                .ra-OrganizationList_content
                  .ra-Organization
                    .ra-Organization_start
                      .ra-Organization_rank.px-2.mr-1 7
                      %a.ra-Organization_image.mr-1{:href => "/organizations/nittsu-infosys"}
                        %img{:alt => "nittsu-infosys", :src => "https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/933b8e72b27eb84a2becbb948d7eb9a93efe8327/original.jpg?1534402514"}/
                      %div
                        .ra-Organization_name.pr-1
                          %a{:href => "/organizations/nittsu-infosys"} 日通情報システム株式会社
                    .ra-Organization_contrib
                      .ra-Organization_contribCount> 6
                      Posts
                .ra-OrganizationList_content
                  .ra-Organization
                    .ra-Organization_start
                      .ra-Organization_rank.px-2.mr-1 8
                      %a.ra-Organization_image.mr-1{:href => "/organizations/jrits"}
                        %img{:alt => "jrits", :src => "https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/aa15a06a3a9c55560c1aa315e5843bcece40b592/original.jpg?1461311034"}/
                      %div
                        .ra-Organization_name.pr-1
                          %a{:href => "/organizations/jrits"} リコーITソリューションズ株式会社
                    .ra-Organization_contrib
                      .ra-Organization_contribCount> 6
                      Posts
                .ra-OrganizationList_content
                  .ra-Organization
                    .ra-Organization_start
                      .ra-Organization_rank.px-2.mr-1 9
                      %a.ra-Organization_image.mr-1{:href => "/organizations/iotlt"}
                        %img{:alt => "iotlt", :src => "https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/67955531570736d618f59dd5e615b01285b22217/original.jpg?1485315227"}/
                      %div
                        .ra-Organization_name.pr-1
                          %a{:href => "/organizations/iotlt"} IoTLT
                    .ra-Organization_contrib
                      .ra-Organization_contribCount> 5
                      Posts
                .ra-OrganizationList_content
                  .ra-Organization
                    .ra-Organization_start
                      .ra-Organization_rank.px-2.mr-1 10
                      %a.ra-Organization_image.mr-1{:href => "/organizations/dmmcom"}
                        %img{:alt => "dmmcom", :src => "https://s3-ap-northeast-1.amazonaws.com/qiita-organization-image/b6e218d77ed3ec62b603ae9870b72f04fa0b169d/original.jpg?1533286889"}/
                      %div
                        .ra-Organization_name.pr-1
                          %a{:href => "/organizations/dmmcom"} DMM.com
                    .ra-Organization_contrib
                      .ra-Organization_contribCount> 5
                      Posts
                .ra-OrganizationList_footer
                  %a.ra-OrganizationList_note{:href => "/organizations"}
                    %span.fa.fa-fw.fa-arrow-circle-right>
                    Organization一覧
            .ra-SponserList.p-2
              .ra-SponserList_header
                .ra-SponserList_label コミュニティスポンサー
              .ra-SponserList_content
                %a.ra-Sponser{:href => "https://job-draft.jp/?utm_source=qiita&utm_medium=tg&utm_term=sponsor&utm_campaign=attention&utm_content=top", :target => "_blank"}
                  %img.ra-Sponser_image{:alt => "転職ドラフト", :src => "https://cdn.qiita.com/assets/public/community-sponsers/001_job-draft-95d1738aa7b1e2977654db64e6137362.png"}/
                %a.ra-Sponser{:href => "https://www.elastic.co/jp/", :target => "_blank"}
                  %img.ra-Sponser_image{:alt => "Elastic", :src => "https://cdn.qiita.com/assets/public/community-sponsers/002_elastic-8d66dc8e2d781847f7909292525dc3bd.png"}/
              .ra-SponserList_footer
                %a.ra-SponserList_note{:href => "http://blog.qiita.com/post/176483510744/community-sponsor", :rel => "noopener", :target => "_blank"}
                  .fa.fa-fw.fa-info-circle>
                  コミュニティスポンサーについて
      %footer#globalFooter.st-Footer.px-2.pt-1.pb-2{:class => "px-1@s pt-3@s"}
        .st-Footer_container
          %ul.st-Footer_start
            %li.st-Footer_link
              %a.st-Footer_copyright{:href => "https://increments.co.jp"} © 2011-2018 Increments Inc.
            %li.st-Footer_link
              %a{:href => "/terms"} 利用規約
            %li.st-Footer_link
              %a{:href => "/privacy"} プライバシー
            %li.st-Footer_link
              %a{:href => "https://help.qiita.com"} ヘルプ
            %li.st-Footer_link
              %a{:href => "https://increments.zendesk.com/hc/ja/requests/new"} お問い合わせ
          %ul.st-Footer_end
            %li.st-Footer_link
              %a{:href => "/about"} Qiita とは
            %li.st-Footer_link
              %a{:href => "/users"} ユーザー
            %li.st-Footer_link
              %a{:href => "/tags"} タグ
            %li.st-Footer_link
              %a{:href => "/items"} 投稿
            %li.st-Footer_link
              %a{:href => "http://blog.qiita.com"} ブログ
            %li.st-Footer_link
              %a{:href => "/api/v2/docs"} API
            %li.st-Footer_link
              %a{:href => "https://teams.qiita.com"} Qiita:Team
            %li.st-Footer_link
              %a{:href => "/feedback/new"} ご意見
    .p-messages
      %div{"data-hyperapp-app" => "Message", "data-hyperapp-mounted" => "true", "data-hyperapp-props" => "{\"messages\":[]}"}
        .msg-Container
    #dataContainer{"data-config" => "{\"actionPath\":\"public/home#index\",\"settings\":{\"analyticsTrackingId\":\"UA-24675221-12\",\"mixpanelToken\":\"17d24b448ca579c365d2d1057f3a1791\",\"assetsMap\":{},\"csrfToken\":\"X66VwkI4zIZJoUnSNI6Xxx2Yhz+ypXcwrOaiLa55KziZRWKVmEbB6vHJfzMXB/qpFycf3Zmzlr0qnBB61sWJ7g==\",\"locale\":\"ja\"},\"currentUser\":{\"isStaff\":false,\"name\":\"\",\"originalId\":252777,\"profileImageUrl\":\"https://avatars2.githubusercontent.com/u/22460261?v=4\",\"urlName\":\"Daniel16\"}}", :style => "display: none;"}
      :javascript
        /* <![CDATA[ */
        var yahoo_retargeting_id = '6B63B2EQA6';
        var yahoo_retargeting_label = 'qiita';
        var yahoo_retargeting_page_type = '';
        var yahoo_retargeting_items = [{item_id: '', category_id: '', price: '', quantity: ''}];
        /* ]]> */
      %script{:language => "javascript", :src => "https://b92.yahoo.co.jp/js/s_retargeting.js", :type => "text/javascript"}
      %script{:src => "//platform.twitter.com/oct.js", :type => "text/javascript"}
      :javascript
        twttr.conversion.trackPid('nzz0o', { tw_sale_amount: 0, tw_order_quantity: 0 });
      %noscript
        %img{:alt => "", :height => "1", :src => "https://analytics.twitter.com/i/adsct?txn_id=nzz0o&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0", :style => "display:none;", :width => "1"}/
        %img{:alt => "", :height => "1", :src => "//t.co/i/adsct?txn_id=nzz0o&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0", :style => "display:none;", :width => "1"}/
    %script{:src => "https://analytics.twitter.com/i/adsct?p_id=Twitter&p_user_id=0&txn_id=nzz0o&tw_sale_amount=0&tw_order_quantity=0&tw_iframe_status=0&tpx_cb=twttr.conversion.loadPixels&tw_document_href=https%3A%2F%2Fqiita.com%2F", :type => "text/javascript"}
    %iframe#google_osd_static_frame_4501072827750{:name => "google_osd_static_frame", :style => "display: none; width: 0px; height: 0px;"}
  %script{:src => "https://googleads.g.doubleclick.net/pagead/viewthroughconversion/935296116/?random=1535791091540&cv=9&fst=1535791091540&num=1&bg=ffffff&guid=ON&resp=GooglemKTybQhCsO&u_h=900&u_w=1440&u_ah=811&u_aw=1440&u_cd=24&u_his=7&u_tz=540&u_java=false&u_nplug=3&u_nmime=4&data=event%3Dgtag.config>m=a8o&sendb=1&frm=0&url=https%3A%2F%2Fqiita.com%2F&ref=https%3A%2F%2Fqiita.com%2F&tiba=Qiita&async=1&rfmt=3&fmt=4"}
  %script{:src => "https://googleads.g.doubleclick.net/pagead/viewthroughconversion/935296116/?random=1535791091544&cv=9&fst=1535791091544&num=1&value=1¤cy_code=JPY&label=jvRhCOaj5YYBEPT4_b0D&bg=ffffff&guid=ON&resp=GooglemKTybQhCsO&u_h=900&u_w=1440&u_ah=811&u_aw=1440&u_cd=24&u_his=7&u_tz=540&u_java=false&u_nplug=3&u_nmime=4&data=event%3Dconversion>m=a8o&sendb=1&frm=0&url=https%3A%2F%2Fqiita.com%2F&ref=https%3A%2F%2Fqiita.com%2F&tiba=Qiita&async=1&rfmt=3&fmt=4"}
